/* Reset */
@font-face {
    font-family: Gotham ;
    src: url("/Gotham-Medium.otf");
}



* {
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: Gotham;
}

html, body {

}


a {
    text-decoration: none;
    color: inherit;
}

/* ul {
    list-style: none;
} */

/* Main styling */

/* html,body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em;
  } */

  




/* body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #102a42;
    line-height: 1.5;
    font-size: 0.875rem;
  } */

  /* hr {
    border: none;
    border-top: 1px solid #bcccdc;
  }
  h1,
  h2,
  h3,
  h4,
  h5 {
    letter-spacing: 0.1rem;
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.75rem;
  }
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1.25rem;
  }
  h5 {
    font-size: 0.875rem;
  }
  p {
    margin-bottom: 1.25rem;
    color: #bcccdc;
  } */

  /* Utility Classes */

  .navbar {

  }

  .navbar #fixed-nav{

  }


  /* Section model 3 */

#model-3 {
    background: url('/images/Model-3-Main-Hero-Desktop-RHD.jfif') no-repeat center center/cover;
    height: 600px;
}

